
generate_structures/generate_pseudo_rigid_rod_nunchakus/*.pyc
generate_structures/generate_pseudo_rigid_rod_nunchakus/accepted.dat
generate_structures/generate_pseudo_rigid_rod_nunchakus/input_data.file
generate_structures/generate_pseudo_rigid_rod_nunchakus/input_data_nunchucks_*.file
generate_structures/generate_pseudo_rigid_rod_nunchakus/rawdata_*
generate_structures/generate_pseudorandom_init_conf_python_code

generate_structures/generate_pseudo_y_l/*.pyc
generate_structures/generate_pseudo_y_l/accepted.dat
generate_structures/generate_pseudo_y_l/input_data.file
generate_structures/generate_pseudo_y_l/file/*
