
add_commit_push.sh

generate_structures/generate_rigid_rod_nunchakus/accepted.dat
generate_structures/generate_rigid_rod_nunchakus/input_data.file
generate_structures/generate_rigid_rod_nunchakus/input_data_nunchucks_*.file
generate_structures/generate_rigid_rod_nunchakus/rawdata_*


